#container3 {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#calendar {
    width: 70%;
    background-color: brown;
}