
.main1 {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 91%);
    width: 100%;
    height: 100vh;
}
.titre {
    display: flex;
    justify-content: center;
    /*background-color: aqua;*/
    width: 100%;
    height: 10%;
}
.body {
    /*background-color: grey;*/
    display: flex;
    flex-direction: row;
    width:100%;
    height:80vh;
    justify-content: space-around;
}
.input {
    /*background-color: white;*/
    width:30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}
.label1 {
    height: 30%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#connexion {
    margin: 4%;
    background-color: black;
    color: white;
}
#connexionLoading {
    display: flex;
    justify-content: center;
    margin: 4%;
    width: 100%;
}
.Inscription {
    display: flex;
    border-top: solid grey 2px;
    justify-content: center;
    width: 50%;
    width: 50%;
}
#inscription {
    margin-top: 9%;
    background-color: black;
    color: white;
}
.divcalendar {
    /*background-color: blue;*/
    width: 40%;
    height: 70%;
    margin-right: 10%;
    align-self: center;
}
.calendar {
    width: 500px;
}
.nice-dates-day, .nice-dates-navigation, .nice-dates-week-header_day, .nice-dates-navigation_current  {
    color: rgb(0, 0, 0);
    font-size: large;
}
