#main3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 91%);
    width: 100%;
    height: 100vh;
}
#label3 {
    height: 30%; 
    width:40%;
    display: flex;  
    flex-direction: column;
    align-content:space-around;
    justify-content: space-around;
}